# Git ignores 

# [1] all executable files (.exe)
*.exe
# [2] all object files (.o)
*.o
# [3] all text files (.txt)
*.txt
# [4] all library files (.a, .dll)
*.a
*.dll
# [5] all configuration files (.ini)
*.ini

build/
build1/
build2/

run.sh